<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Необходимые Мета-теги всегда на первом месте -->  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
  </head>
  <body style="padding: 20px 20%">
    <div class="row">
	  <div class="col-md-4"><h1>RussianResaler</h1></div>
	  <div class="col-md-4">
		<form class="form-inline">
			<div class="form-group">
			    <input type="text" class="form-control" id="search" placeholder="Поиск">
			</div>
			  <button type="submit" class="btn btn-link"><img src="https://raw.githubusercontent.com/Egor14/resaler/master/public/search.png" style="width: 30px; height: 30px;"></button>
		</form>
	  </div>
	  <div class="col-md-4">
	  	<form action="/sell" method="get">
	  		<input type="submit" name="bt1"  id="btnYour" class="btn btn-primary" value="Продать">
	  		<button type="button" class="btn btn-success">Войти</button>
	  	</form>
	  </div>
    </div>
    <hr>
    <div class="row category">
	  <div class="col-md-4"><h5>МУЖСКОЕ</h5></div>
	  <div class="col-md-4"><h5>ЖЕНСКОЕ</h5></div>
	  <div class="col-md-4"><h5>БРЕНДЫ</h5></div>
    </div>
    <div class="row" style="margin-top: 30px;">
	  <div class="col-lg-3 col-md-4 col-xs-12 col-12">
	  	<form action="/filter" method="post">
		  	<label>Категория
				<div class="form-check" style="margin-left: 20px;">
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" name="boots" value="1">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Обувь</span>
					</label>
					<br>
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" name="top" value="1">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Верх</span>
					</label>
					<br>
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" name="bottom" value="1">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Низ</span>
					</label>
					<br>
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" name="other" value="1">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Аксессуары</span>
					</label>
					<br>
				</div>
			</label>
			<label>Бренд<br>
					<select name="brand" class="custom-select">
					  <option selected>Open this select menu</option>
					  <option value="1">Supreme</option>
					  <option value="2">Gucci</option>
					  <option value="3">Palace</option>
					</select>
			</label>		  
			<label>Размер<br>
					<select name="bootsSize" class="custom-select">
					  <option selected>Обувь</option>
					  <option value="1">Supreme</option>
					  <option value="2">Gucci</option>
					  <option value="3">Palace</option>
					</select>
					<select name="topSize" class="custom-select">
					  <option selected>Верх</option>
					  <option value="1">Supreme</option>
					  <option value="2">Gucci</option>
					  <option value="3">Palace</option>
					</select>
					<select name="bottomSize" class="custom-select">
					  <option selected>Низ</option>
					  <option value="1">Supreme</option>
					  <option value="2">Gucci</option>
					  <option value="3">Palace</option>
					</select>
					<select name="otherSize" class="custom-select">
					  <option selected>Аксессуары</option>
					  <option value="1">Supreme</option>
					  <option value="2">Gucci</option>
					  <option value="3">Palace</option>
					</select>
			</label>
			    <div class="form-check" style="margin-left: 20px;">
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="exchange" value="exchange">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Обмен</span>
					</label>
				</div>
			<label>Цена<br>
		  	  <input type="number" name="startPrice" id="startPrice" class="form-control" placeholder="от">
		  	  <input type="number" name="stopPrice" id="stopPrice" class="form-control" placeholder="до">
		    </label>
			<label>Состояние<br>
			    <div class="form-check" style="margin-left: 20px;">
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" name="state1" value="1">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Новая с биркой</span>
					</label>
					<br>
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" name="state2" value="2">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Новая без бирки</span>
					</label>
					<br>
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" name="state3" value="3">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Есть деффекты</span>
					</label>
					<br>
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" name="state4" value="4">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Надевалась один раз</span>
					</label>
					<br>
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" name="state5" value="5">
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description">Надевалась несколько раз</span>
					</label>
				</div>
			</label>	
		    <label>Место нахождения<br>
		  	  <input type="text" name="country" id="country" class="form-control" placeholder="Страна">
		  	  <input type="text" name="city" id="city" class="form-control" placeholder="Город">
		    </label>
		    <input type="submit" name="bt2"  id="btnYourRaise" class="btn btn-success" value="Показать">
		  	<button type="button" class="btn btn-outline-secondary">Сбросить</button>
	    </form>
	  </div>

	  <div class="col-md-9">
	  	<% catalog = JSON.parse(catalogJSON); %> 
        
	  	<% for (i=0; i<catalog.length; i++){ %>
	  			<label><a href="/<%=i%>"><img class="lots" src = <%= 'image' + catalog[i].img_id + '.jpg' %>  alt="Third lot"></a><br><%= catalog[i].comment %></label>
		<% } %>
		
	  </div>

    


    <!-- jQuery первый, затем Tether, затем Bootstrap JS. -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  </body>
</html>