.category {
	text-align: center;
}

.lots {
	width: 250px;
	height: 170px;
	padding: 10px;
	margin: 20px 20px 0px 0px;
}

.lots:hover {
	border: 1px solid blue;
}

.image {
	width: 500px;
	height: 400px;
}